body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.section,
.section .project {
  min-height: 100vh;
  width: 100%;
}

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header #nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px;

  /* temporary background */
  /* TODO: Remove the background and make it dynamic wwith JavaScript */
  background-color: rgba(0, 0, 0, 0.5);
}
#header a {
  color: white;
  text-decoration: none;
}
#header #nav #logo a {
  font-size: 2em;
}
#header #nav #menu-list ul {
  list-style: none;
  display: flex;
}
#header #nav #menu-list ul li {
  padding: 0 20px;
}
#header #nav #menu-list ul li:last-child {
  padding-left: 50px;
}
#header #nav #menu-list ul li:last-child i {
  padding-right: 10px;
}

#header #hero-section {
  align-self: center;
  color: white;
  text-align: center;
}
#header #hero-section h1 {
  font-size: 6em;
  margin-bottom: 0;
}
#header #hero-section h2 {
  font-size: 2em;
  margin: 0;
}
#header #hero-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #hero-section ul li {
  padding: 0 10px;
}
/* End of Header */

#works {
  color: white;
}
#works .project {
  padding: 50px 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#works .project:nth-of-type(even) .demo {
  order: 2;
}
#works .project .demo {
  width: 100%;
  min-height: 600px;
  margin: 0 50px;
  border-radius: 10px;

  /* TODO: Remove this background properties */
  background-image: url("../images/royal-anime-screenshot.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  overflow: hidden;
  transition: background-position 6s ease-in-out;
}
#works .project .demo:hover {
  background-position: bottom left;
}

#works .project .project-info {
  width: 50%;
}
#works .project .project-info h3 {
  font-size: 2em;
}
#works .project .project-info p {
  font-size: 1.2em;
}
#works .project .project-info .features ul {
  list-style-type: none;
  padding-left: 20px;
}
#works .project .project-info .features ul li {
  padding: 10px 0;
}
#works .project .project-info .demo-link {
  color: #ffad28;
  text-decoration: none;
  font-size: 1.25em;
}
#works .project .project-info .demo-link i {
  padding: 0 10px;
  font-size: 0.75em;
}

/* Here are the main colors of the works sections */
#royal-anime {
  background-color: black;
}
#iphotographer {
  background-color: #252533;
}
#multi-step-form {
  background-color: #323545;
}
/* End of Works Section */
